<ion-header>
  <ion-toolbar>
    <ion-title>Cartelera MDQ3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="ion-padding-top">
      <ion-tab-button tab="folder">
        <!-- <ion-icon name="home"></ion-icon> -->
        <ion-icon name="home-outline"></ion-icon>
        <ion-label class="navigator-label">Inicio</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="folder">
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label class="navigator-label">Ventas</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
